# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
rl_env/
venv/
.env/

# Training artifacts

# Ignore saved experiment folders but keep final exported model

# TensorBoard
events.out.tfevents.*

# OS / editor
.vscode/
.DS_Store
Thumbs.db